services:
  web:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      akmalstore_net:
    depends_on:
      auth_service:
        condition: service_started
      user_service:
        condition: service_started

  auth_service:
    build:
      context: .
      dockerfile: auth_service/Dockerfile
    restart: always
    environment:
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      USER_SERVICE_HOST: ${USER_SERVICE_HOST}
      USER_SERVICE_PORT: ${USER_SERVICE_PORT}
      SERVICE_JWT_SECRET_KEY: ${SERVICE_JWT_SECRET_KEY}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    networks:
      - akmalstore_net
    env_file:
      - .env

  user_service:
    build:
      context: .
      dockerfile: user_service/Dockerfile
    restart: always
    environment:
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
      AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
      SERVICE_JWT_SECRET_KEY: ${SERVICE_JWT_SECRET_KEY}
    networks:
      - akmalstore_net
    env_file:
      - .env

  email_service:
    build:
      context: .
      dockerfile: email_service/Dockerfile
    environment:
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      SERVICE_JWT_SECRET_KEY: ${SERVICE_JWT_SECRET_KEY}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_FROM: ${SMTP_FROM}
    networks:
      - akmalstore_net
    env_file:
      - .env

  product_service:
    build:
      context: .
      dockerfile: product_service/Dockerfile
    restart: always
    environment:
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
      PRODUCT_SERVICE_HOST: ${PRODUCT_SERVICE_HOST}
      PRODUCT_SERVICE_PORT: ${PRODUCT_SERVICE_PORT}
      SERVICE_JWT_SECRET_KEY: ${SERVICE_JWT_SECRET_KEY}
    networks:
      - akmalstore_net
    env_file:
      - .env

  order_service:
    build:
      context: .
      dockerfile: order_service/Dockerfile
    restart: always
    environment:
      APP_ENV: ${APP_ENV}
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      USER_SERVICE_HOST: ${USER_SERVICE_HOST}
      USER_SERVICE_PORT: ${USER_SERVICE_PORT}
      PRODUCT_SERVICE_HOST: ${PRODUCT_SERVICE_HOST}
      PRODUCT_SERVICE_PORT: ${PRODUCT_SERVICE_PORT}
      PAYMENT_SERVICE_HOST: ${PAYMENT_SERVICE_HOST}
      PAYMENT_SERVICE_PORT: ${PAYMENT_SERVICE_PORT}
      SERVICE_JWT_SECRET_KEY: ${SERVICE_JWT_SECRET_KEY}
      XENDIT_CALLBACK_TOKEN_HEADER: ${XENDIT_CALLBACK_TOKEN_HEADER}
      XENDIT_CALLBACK_TOKEN: ${XENDIT_CALLBACK_TOKEN}
    networks:
      - akmalstore_net
    env_file:
      - .env

  payment_service:
    build:
      context: .
      dockerfile: payment_service/Dockerfile
    restart: always
    environment:
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      PAYMENT_SERVICE_HOST: ${PAYMENT_SERVICE_HOST}
      PAYMENT_SERVICE_PORT: ${PAYMENT_SERVICE_PORT}
      SERVICE_JWT_SECRET_KEY: ${SERVICE_JWT_SECRET_KEY}
      XENDIT_API_KEY: ${XENDIT_API_KEY}
      XENDIT_API_URL: ${XENDIT_API_URL}
    networks:
      - akmalstore_net
    env_file:
      - .env

  db:
    image: mysql:8.4
    container_name: db_mysql
    restart: always
    ports:
      - "${MYSQL_FORWARDED_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - akmalstore_net
    env_file:
      - .env

  kafka:
    image: apache/kafka:3.9.0
    hostname: broker
    container_name: kafka
    networks:
      - akmalstore_net
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - akmalstore_net
    ports:
      - "8080:8080"
    depends_on:
      kafka:
        condition: service_started
    environment:
      TZ: Asia/Jakarta
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: kafka:29092

  redis:
    image: redis:alpine
    container_name: redis
    networks:
      - akmalstore_net
    ports:
      - "6379:6379"

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    networks:
      - akmalstore_net
    ports:
      - "5540:5540"
    depends_on:
      redis:
        condition: service_started

volumes:
  db_data:

networks:
  akmalstore_net:
    driver: bridge
